
<!-- =========================
 SECTION: BENEFITS
============================== -->
<section class="unique-features white-bg" id="section5">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">
            <div class="small-text-medium uppercase colored-text">
                FEATURES
            </div>
            <h2 class="dark-text"><strong>Useful</strong> Benifits</h2>
            <div class="colored-line">
            </div>
            <div class="sub-heading">
                Cloud computing subscription model out of the box proactive solution.
            </div>
        </div>

        <!-- FIRST ROW OF FEATURES -->
        <div class="row">
            <div class="col-md-4 wow fadeInRight" data-wow-duration="1.75s" data-wow-offset="20">

                <!-- SINGLE FEATURE -->
                <div class="feature">
                    <div class="icon-container">
                        <span class="icon-laptop colored-text"></span>
                    </div>
                    <div class="description text-left">
                        <h4 class="dark-text">Reliable Company</h4>
                        <div class="grey-line-short pull-left">
                        </div>
                        <p class="text-left">
                            User engagement A/B testing shrink a market venture capital pitch deck.
                        </p>
                    </div>
                </div>

                <!-- SINGLE FEATURE -->
                <div class="feature">
                    <div class="icon-container">
                        <span class="icon-map-alt colored-text"></span>
                    </div>
                    <div class="description text-left">
                        <h4 class="dark-text">Responsive Design</h4>
                        <div class="grey-line-short pull-left">
                        </div>
                        <p class="text-left">
                            User engagement A/B testing shrink a market venture capital pitch deck.
                        </p>
                    </div>
                </div>

                <!-- SINGLE FEATURE -->
                <div class="feature">
                    <div class="icon-container">
                        <span class="icon-cloud-alt colored-text"></span>
                    </div>
                    <div class="description text-left">
                        <h4 class="dark-text">Cloud Platform</h4>
                        <div class="grey-line-short pull-left">
                        </div>
                        <p class="text-left">
                            User engagement A/B testing shrink a market venture capital pitch deck.
                        </p>
                    </div>
                </div>
            </div>

            <!-- IPAD IMAGE -->
            <div class="col-md-4">
                <div class="ipad-image wow bounceIn" data-wow-duration="1.75s" data-wow-offset="20">
                    <img src="/images/ipad-air.png" alt="">
                </div>
            </div>

            <div class="col-md-4 wow fadeInLeft" data-wow-duration="1.75s" data-wow-offset="20">

                <!-- SINGLE FEATURE -->
                <div class="feature">
                    <div class="icon-container">
                        <span class="icon-gift-alt colored-text"></span>
                    </div>
                    <div class="description text-left">
                        <h4 class="dark-text">Bootstrap 3.3.1</h4>
                        <div class="grey-line-short pull-left">
                        </div>
                        <p class="text-left">
                            User engagement A/B testing shrink a market venture capital pitch deck.
                        </p>
                    </div>
                </div>

                <!-- SINGLE FEATURE -->
                <div class="feature">
                    <div class="icon-container">
                        <span class="icon-star-alt colored-text"></span>
                    </div>
                    <div class="description text-left">
                        <h4 class="dark-text">400+ Icons Font</h4>
                        <div class="grey-line-short pull-left">
                        </div>
                        <p class="text-left">
                            User engagement A/B testing shrink a market venture capital pitch deck.
                        </p>
                    </div>
                </div>

                <!-- SINGLE FEATURE -->
                <div class="feature">
                    <div class="icon-container">
                        <span class="icon-chat-alt colored-text"></span>
                    </div>
                    <div class="description text-left">
                        <h4 class="dark-text">Top Support</h4>
                        <div class="grey-line-short pull-left">
                        </div>
                        <p class="text-left">
                            User engagement A/B testing shrink a market venture capital pitch deck.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
