
<!-- =========================
 SECTION: BRIEF RIGHT
============================== -->
<section class="brief grey-bg text-left" id="section3">
    <div class="container">
        <div class="row">

            <!-- BRIEF IMAGE -->
            <div class="col-md-6 wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                <div class="brief-image-left">
                    <img src="/images/imac-ipad.png" alt="">
                </div>
            </div>

            <!-- BRIEF HEADING -->
            <div class="col-md-6 content-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                <div class="small-text-medium uppercase colored-text">
                    LOREMIPSUM
                </div>
                <h2 class="text-left dark-text"><strong>Beautiful</strong> Accordion</h2>
                <div class="colored-line-left">
                </div>
                <p class="text-left">
                    Lorem lean startup ipsum product market fit customer development.
                </p>

                <!-- FEATUR ACCORDION WITH ICON -->
                <div class="panel-group" id="accordion">

                    <!-- SINGLE ACORDIION -->
                    <div class="panel panel-default">

                        <!-- ACORDIION HEADING / TITLE -->
                        <div class="panel-heading" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <span class="icon-container color-bg"><span class="icon-map-alt white-text"></span></span><span class="title-text">Responsive Design</span>
                                </a>
                            </h4>
                        </div>

                        <!-- ACORDIION DESCRIPTION / TEXT -->
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                Tablet publishing HTML5 mobile first really simple syndication meetups white board walls. User experience iterate algorithm gamification semantic web value add market research stealth.
                            </div>
                        </div>
                    </div>

                    <!-- SINGLE ACORDIION -->
                    <div class="panel panel-default">

                        <!-- ACORDIION HEADING / TITLE -->
                        <div class="panel-heading" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="icon-container color-bg"><span class="icon-compass-alt white-text"></span></span><span class="title-text">Fast Customer Support</span>
                                </a>
                            </h4>
                        </div>

                        <!-- ACORDIION DESCRIPTION / TEXT -->
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Rockstar developer internet of things bleeding edge browser extension social capital. Sandboxing UDID content manag system ruby on rails continuous deployment big data infographic.
                            </div>
                        </div>
                    </div>

                    <!-- SINGLE ACORDIION -->
                    <div class="panel panel-default">

                        <!-- ACORDIION HEADING / TITLE -->
                        <div class="panel-heading" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span class="icon-container color-bg"><span class="icon-lightbulb-alt white-text"></span></span><span class="title-text">Creative Concept</span>
                                </a>
                            </h4>
                        </div>

                        <!-- ACORDIION DESCRIPTION / TEXT -->
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Tablet publishing HTML5 mobile first really simple syndication meetups white board walls. User experience iterate algorithm gamification semantic web value add market research stealth.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
