
<!-- =========================
 SECTION: CLIENTS LOGOs
============================== -->
<div class="clients white-bg">
    <ul class="client-logos">
        <li>
            <img src="/images/companies/1.png" alt="">
        </li>
        <li>
            <img src="/images/companies/2.png" alt="">
        </li>
        <li>
            <img src="/images/companies/3.png" alt="">
        </li>
        <li>
            <img src="/images/companies/4.png" alt="">
        </li>
        <li>
            <img src="/images/companies/5.png" alt="">
        </li>
        <li>
            <img src="/images/companies/6.png" alt="">
        </li>
    </ul>
</div>
