
<!-- =========================
 SECTION: CONTACT INFO
============================== -->
<div class="contact-info white-bg">
    <div class="container">

        <!-- CONTACT INFO -->
        <div class="row contact-links">

            <div class="col-sm-4">
                <div class="icon-container">
                    <span class="icon-basic-mail colored-text"></span>
                </div>
                <a href="mailto:hey@designlab.co" class="strong">hey@designlab.co</a>
            </div>

            <div class="col-sm-4">
                <div class="icon-container">
                    <span class="icon-basic-geolocalize-01 colored-text"></span>
                </div>
                <a href="#" class="strong">Glen Road, E13 8 London, UK</a>
            </div>

            <div class="col-sm-4">
                <div class="icon-container">
                    <span class="icon-basic-tablet colored-text"></span>
                </div>
                <a href="tel:44-12-3456-7890" class="strong">+44-12-3456-7890</a>
            </div>
        </div>

    </div>
</div>
<!-- =========================
 GOOGEL MAP
============================== -->
<div id="container-fluid">
    <div id="cd-google-map">
        <div id="google-container">
        </div>
        <address class="color-bg">Glen Road, E13 8 London, UK</address>
    </div>
</div>
