
<!-- FOOTER -->
<footer class="footer grey-bg">
    ©2014 Stamp LLC. All Rights Reserved

    <!-- OPTIONAL FOOTER LINKS -->
    <ul class="footer-links small-text">
        <li><a href="#" class="dark-text">About</a>
        </li>
        <li><a href="#" class="dark-text">Terms</a>
        </li>
        <li><a href="#" class="dark-text">Privacy</a>
        </li>
    </ul>

    <!-- SOCIAL ICONS -->
    <ul class="social-icons">
        <li><a href="#"><span class="icon-social-facebook transparent-text-dark"></span></a>
        </li>
        <li><a href="#"><span class="icon-social-twitter transparent-text-dark"></span></a>
        </li>
        <li><a href="#"><span class="icon-social-pinterest transparent-text-dark"></span></a>
        </li>
        <li><a href="#"><span class="icon-social-googleplus transparent-text-dark"></span></a>
        </li>
        <li><a href="#"><span class="icon-social-dribbble transparent-text-dark"></span></a>
        </li>
    </ul>

</footer>
