<!-- HOMEPAGE SECTION-->
<section id="Homepage">
    <div class="container">
        <div class="row">
            <div data-scrollreveal="wait 0.5s and then ease-in-out 50px" class="col-md-6 col-md-offset-3">

                <div class="align-center">
                    <h2 class="main-text">WELCOME TO SPIDERS LAB</h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div data-scrollreveal="enter from the left 500px" class="col-md-6 col-md-offset-3">

                <div class="align-center">
                    <div class="col-md-12 align-center">
                        <div class="hi-icon-effect-9 hi-icon-effect-9a">
                            <a href="#Homepage" class="hi-icon  hi-icon-screen"></a>
                            <a href="#section-about" class="hi-icon  hi-icon-user"></a>
                            <a href="#section-works" class="hi-icon  hi-icon-images"></a>
                            <a href="#section-services" class="hi-icon hi-icon-cog"></a>
                            <a href="#section-contact" class="hi-icon hi-icon-location"></a>
                        </div>
                        <!--<br />-->
                        <!--<ul class="social-network social-circle">-->
                            <!--<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>-->
                            <!--<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>-->
                            <!--<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>-->
                            <!--<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>-->
                            <!--<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>-->
                        <!--</ul>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END HOMEPAGE SECTION-->
