
<!-- =========================
 SECTION: PRICING
============================== -->
<section class="pricing grey-bg" id="section6">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">
            <div class="small-text-medium uppercase colored-text">
                Pricing
            </div>
            <h2 class="dark-text"><strong>Affordable</strong> Packages</h2>
            <div class="colored-line">
            </div>
            <div class="sub-heading">
                Cloud computing subscription model out of the box proactive solution.
            </div>
        </div>

        <!-- PRICING TABLE -->
        <div class="row pricing-table">

            <!-- SINGLE PACKAGE -->
            <div class="col-md-4 wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                <div class="single-pricing border-bottom-hover">

                    <div class="package-title">
                        <h3 class="colored-text">Basic Plan</h3>
                        <div class="colored-line">
                        </div>
                    </div>

                    <h2 class="price"><span class="superscript">$</span>150<span class="month small-text">Per Month</span></h2>

                    <ul class="package-list">
                        <li><span class="dark-text strong">50GB</span>File Storage</li>
                        <li><span class="dark-text strong">Secure</span>Online Transfer</li>
                        <li><span class="dark-text strong">5</span>User Access</li>
                        <li><span class="dark-text strong">30</span>Projects Per Month</li>
                        <li><span class="dark-text strong">24/7</span>Customer Service</li>
                    </ul>

                    <div class="button">
                        <a href="#section11" class="btn standard-button inpage-scroll">Get Started</a>
                    </div>

                    <div class="small-text uppercase">
                        30 Days free Trial
                    </div>

                </div>
            </div>

            <!-- SINGLE PACKAGE -->
            <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1.5s">
                <div class="single-pricing border-bottom-hover">

                    <div class="package-title color-bg">
                        <h3 class="white-text">Standard Plan</h3>
                    </div>

                    <h2 class="price"><span class="superscript">$</span>199<span class="month small-text">Per Month</span></h2>

                    <ul class="package-list">
                        <li><span class="colored-text strong">150GB</span>File Storage</li>
                        <li><span class="colored-text strong">Secure</span>Online Transfer</li>
                        <li><span class="colored-text strong">20</span>User Access</li>
                        <li><span class="colored-text strong">65</span>Projects Per Month</li>
                        <li><span class="colored-text strong">24/7</span>Customer Service</li>
                    </ul>

                    <div class="button">
                        <a href="#section11" class="btn standard-button inpage-scroll">Get Started</a>
                    </div>

                    <div class="small-text uppercase">
                        <span class="colored-text">40%</span> Discount on first year
                    </div>

                </div>
            </div>

            <!-- SINGLE PACKAGE -->
            <div class="col-md-4 wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                <div class="single-pricing border-bottom-hover">

                    <div class="package-title">
                        <h3 class="colored-text">Medium Plan</h3>
                        <div class="colored-line">
                        </div>
                    </div>
                    <h2 class="price"><span class="superscript">$</span>175<span class="month small-text">Per Month</span></h2>

                    <ul class="package-list">
                        <li><span class="dark-text strong">80GB</span>File Storage</li>
                        <li><span class="dark-text strong">Secure</span>Online Transfer</li>
                        <li><span class="dark-text strong">10</span>User Access</li>
                        <li><span class="dark-text strong">45</span>Projects Per Month</li>
                        <li><span class="dark-text strong">24/7</span>Customer Service</li>
                    </ul>

                    <div class="button">
                        <a href="#section11" class="btn standard-button inpage-scroll">Get Started</a>
                    </div>

                    <div class="small-text uppercase">
                        30 Days free Trial
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
