
<!-- =========================
 SECTION: SCREENSHOTS
============================== -->
<section class="features" id="section7" data-stellar-background-ratio="0.5">
    <div class="overlay-layer-2">
        <div class="container">

            <!-- SECTION HEADER -->
            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    Screenshots
                </div>
                <h2 class="white-text"><span class="strong white-text">Explore</span> Screenshots</h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading white-text">
                    Cloud computing subscription model out of the box proactive solution.
                </div>
            </div>

            <div class="row">

                <!-- LEFT SIDE ELEMENTS -->
                <div class="col-md-3 text-right left-side wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-right-colored">
                        <h4 class="colored-text">Creative Design</h4>
                        <p class="transparent-text">
                            Coworking viral landing page user base minimum viable
                        </p>
                    </div>

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-right-colored">
                        <h4 class="colored-text">Easy to Customize</h4>
                        <p class="transparent-text">
                            Coworking viral landing page user base minimum viable
                        </p>
                    </div>

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-right-colored">
                        <h4 class="colored-text">Bootstrap 3.3.1</h4>
                        <p class="transparent-text">
                            Coworking viral landing page user base minimum viable
                        </p>
                    </div>

                </div>

                <!-- SCREENSHOTS -->
                <div class="col-md-6">
                    <div id="screenshots" class="owl-carousel owl-theme">

                        <!-- SINGLE SCREENSHOT -->
                        <div class="screenshot">
                            <a href="/images/screenshots/1@2x.png" data-lightbox-gallery="gallery1">
                                <img src="/images/screenshots/1.png" alt="" />
                            </a>
                        </div>

                        <!-- SINGLE SCREENSHOT -->
                        <div class="screenshot">
                            <a href="/images/screenshots/1@2x.png" data-lightbox-gallery="gallery1">
                                <img src="/images/screenshots/1.png" alt="" />
                            </a>
                        </div>

                        <!-- SINGLE SCREENSHOT -->
                        <div class="screenshot">
                            <a href="/images/screenshots/1@2x.png" data-lightbox-gallery="gallery1">
                                <img src="/images/screenshots/1.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>


                <!-- RIGHT SIDE FEATURES -->
                <div class="col-md-3 text-left right-side wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-left-colored">
                        <h4 class="colored-text">Online Support</h4>
                        <p class="transparent-text">
                            Coworking viral landing page user base minimum viable
                        </p>
                    </div>

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-left-colored">
                        <h4 class="colored-text">Easy Shipping</h4>
                        <p class="transparent-text">
                            Coworking viral landing page user base minimum viable
                        </p>
                    </div>

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-left-colored">
                        <h4 class="colored-text">Secure Payment</h4>
                        <p class="transparent-text">
                            Coworking viral landing page user base minimum viable
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
