
<!-- =========================
 SECTION: SERVICES
============================== -->
<section class="services grey-bg" id="section1">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">

            <div class="small-text-medium uppercase colored-text">
                SERVICES
            </div>
            <h2 class="dark-text"><strong>AI solutions</strong> for your business</h2>
            <div class="colored-line">
            </div>
            <div class="sub-heading">
                Cloud computing subscription model out of the box proactive solution.
            </div>
        </div>

        <div class="row">

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text">
                        <span class="icon-basic-webpage-multiple"></span>
                    </div>
                    <h3 class="colored-text">Simple Layout</h3>
                    <p>
                        Accelerator photo sharing business school drop out ramen hustle crush it revenue traction platforms.
                    </p>
                </div>
            </div>

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text">
                        <span class="icon-ecommerce-graph3"></span>
                    </div>
                    <h3 class="colored-text">Smart Graphs</h3>
                    <p>
                        Coworking viral landing page user base minimum viable product hackathon API mashup FB Connect.
                    </p>
                </div>
            </div>

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text">
                        <span class="icon-basic-geolocalize-05"></span>
                    </div>
                    <h3 class="colored-text">Track Location</h3>
                    <p>
                        Social bookmarking group buying crowded market pivot onboarding freemium prototype ping.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
