
<!-- =========================
 SECTION: SOME STATS
============================== -->
<section class="stats" id="section4" data-stellar-background-ratio="0.5">
    <div class="overlay-layer-2">
        <div class="container">
            <div class="row no-gutters">

                <!-- SINGLE COLUMN WITH ICON -->
                <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="icon-container">
                        <span class="colored-text icon-basic-elaboration-calendar-check"></span>
                    </div>
                    <h4 class="white-text">780+</h4>
                    <p class="uppercase transparent-text small-text">
                        Successfull campaigns
                    </p>
                </div>

                <!-- SINGLE COLUMN WITH ICON -->
                <div class="col-md-4 col-sm-4 col-xs-4 single-stats border-left-colored border-right-colored wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="icon-container">
                        <span class="colored-text icon-basic-message-multiple"></span>
                    </div>
                    <h4 class="white-text">1250+</h4>
                    <p class="uppercase transparent-text small-text">
                        Social interaction
                    </p>
                </div>

                <!-- SINGLE COLUMN WITH ICON -->
                <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="icon-container">
                        <span class="colored-text icon-ecommerce-graph-increase"></span>
                    </div>
                    <h4 class="white-text">235%</h4>
                    <p class="uppercase transparent-text small-text">
                        Yearly Sales Growth
                    </p>
                </div>
            </div>

            <!-- CALL TO ACTION -->
            <div class="stats-footer">
                <div class="long-transparent-line">
                </div>
                <p class="white-text">
                    We are ready to help you - <a href="#section11" class="strong inpage-scroll">Get Started Now »</a>
                </p>
            </div>

        </div>
    </div>
</section>
