<!-- STYLE SWITCHER SECTION-->
<div  class="panel" style="color:white">
    <div id="styledemo"  style="left: 0px;">
        <span id="theme_blue" style="background-color:#37AFFF" ></span>
        <span id="theme_green" style="background-color:#469E66" ></span>
        <span id="theme_brown" style="background-color:#E69351" ></span>
        <span id="theme_red" style="background-color:#E7484E" ></span>
    </div>
</div>
<a class="trigger" href="#"></a>
<!-- END STYLE SWITCHER SECTION-->
