
<!-- =========================
 SECTION: TEAM
============================== -->
<section class="team grey-bg" id="section9">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">
            <div class="small-text-medium uppercase colored-text">
                Team
            </div>
            <h2 class="dark-text"><strong>Project</strong> Team</h2>
            <div class="colored-line">
            </div>
            <div class="sub-heading">
                Cloud computing subscription model out of the box proactive solution.
            </div>
        </div>

        <!-- MEMBERS -->
        <div class="row wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s">

            <!-- MEMBER -->
            <div class="col-md-3 col-sm-6">
                <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                    <div class="member-pic">
                        <img src="/images/team/1.jpg" alt="">
                    </div>
                    <div class="member-details">
                        <h5 class="colored-text">Albert Jacobs</h5>
                        <div class="small-text">
                            Founder &amp; CEO
                        </div>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <span class="icon-social-facebook dark-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-social-twitter dark-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-social-pinterest dark-text"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- MEMBER -->
            <div class="col-md-3 col-sm-6">
                <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                    <div class="member-pic">
                        <img src="/images/team/2.jpg" alt="">
                    </div>
                    <div class="member-details">
                        <h5 class="colored-text">George Walker</h5>
                        <div class="small-text">
                            Web Developer
                        </div>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <span class="icon-social-facebook dark-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-social-twitter dark-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-social-pinterest dark-text"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- MEMBER -->
            <div class="col-md-3 col-sm-6">
                <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                    <div class="member-pic">
                        <img src="/images/team/3.jpg" alt="">
                    </div>
                    <div class="member-details">
                        <h5 class="colored-text">Frank Hanson</h5>
                        <div class="small-text">
                            UI Designer
                        </div>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <span class="icon-social-facebook dark-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-social-twitter dark-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-social-pinterest dark-text"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- MEMBER -->
            <div class="col-md-3 col-sm-6 team-member">
                <div class="wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                    <div class="member-pic">
                        <img src="/images/team/4.jpg" alt="">
                    </div>
                    <div class="member-details">
                        <h5 class="colored-text">Emily Smith</h5>
                        <div class="small-text">
                            App Developer
                        </div>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <span class="icon-social-facebook dark-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-social-twitter dark-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-social-pinterest dark-text"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
