
<!-- =========================
 SECTION: TIMELINE
============================== -->
<section class="brief timeline white-bg" id="section8">
    <div class="container">

        <div class="row">

            <!-- TIMELINE HEADING / TEXT  -->
            <div class="col-md-6 timeline-text text-left wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                <div class="small-text-medium uppercase colored-text text-left">
                    Timeline
                </div>
                <h2 class="text-left dark-text"><strong>Amazing</strong> Journey</h2>
                <div class="colored-line-left">
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
                    <br/>
                    <br/>Main differentiators business model micro economics marketplace equity augmented reality human computer interaction. Board members super angel preferred stock.
                </p>
            </div>

            <!-- TIMLEINE SCROLLER -->
            <div class="col-md-6 timeline-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                <ul class="vertical-timeline" id="timeline-scroll">

                    <!-- SINGLE TIMELINE -->
                    <li>
                        <div class="date small-text colored-text strong">
                            Jan, 12
                        </div>
                        <div class="icon-container color-bg white-text">
                            <span class="icon-ribbon-alt"></span>
                        </div>
                        <div class="info">
                            Drinking vinegar Echo Park selfies heirloom aesthetic, taxidermy keytar next level craft beer.
                        </div>
                    </li>

                    <!-- SINGLE TIMELINE -->
                    <li>
                        <div class="date small-text dark-text strong">
                            Apr, 14
                        </div>
                        <div class="icon-container color-bg white-text">
                            <span class="icon-piechart"></span>
                        </div>
                        <div class="info">
                            American Apparel meggings asymmetrical organic Marfa typewriter shabby chic Brooklyn, farm-to-table butcher.
                        </div>
                    </li>

                    <!-- SINGLE TIMELINE -->
                    <li>
                        <div class="date small-text dark-text strong">
                            Feb, 13
                        </div>
                        <div class="icon-container color-bg white-text">
                            <span class="icon-cart-alt"></span>
                        </div>
                        <div class="info">
                            Keytar stumptown hoodie, crucifix meggings messenger bag brunch deep v. High Life taxidermy mumblecore.
                        </div>
                    </li>

                    <!-- SINGLE TIMELINE -->
                    <li>
                        <div class="date small-text dark-text strong">
                            Dec, 13
                        </div>
                        <div class="icon-container color-bg white-text">
                            <span class="icon-paperclip"></span>
                        </div>
                        <div class="info">
                            Wayfarers Carles seitan, VHS bicycle rights normcore butcher skateboard bitters Portland cred.
                        </div>
                    </li>

                    <!-- SINGLE TIMELINE -->
                    <li>
                        <div class="date small-text dark-text strong">
                            May, 14
                        </div>
                        <div class="icon-container color-bg white-text">
                            <span class="icon-check"></span>
                        </div>
                        <div class="info">
                            Four loko Pitchfork cred irony selfies meggings lo-fi iPhone hashtag, craft beer Helvetica crucifix keytar.
                        </div>
                    </li>

                    <!-- SINGLE TIMELINE -->
                    <li>
                        <div class="date small-text dark-text strong">
                            Oct, 14
                        </div>
                        <div class="icon-container color-bg white-text">
                            <span class="icon-lightbulb-alt"></span>
                        </div>
                        <div class="info">
                            Cosby sweater viral Etsy lo-fi Carles. Paleo kogi kale chips McSweeney's bicycle rights behind the scene.
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>
